.container__two {
    background-color: $bg-light;
    margin: 0;
    
    &__cards {
        justify-content: space-around;
        padding: $lg;
        margin: 0;
        
        &__card-inicio {
            padding: 10px;
            transition: all $sec-md ease;

            &__body__title {
                font-size: $md;
            }

            &:hover {
                @include border(1px, $bg-d-gray);
            }
        }
    }
    &__puntos {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1;
        justify-items: center;
        align-items: center;
        padding: 20px;
        &__punto {
            @include flex-column(center,center,auto);
            width: 210px;
            height: 210px;
            padding: 40px 20px;
            @include border(2px,#0a4e97,50%);
            transition: all $sec-md ease;
            &:hover {
                border-color: $bg-l-blue;
            }
            
            &__icon {
                color: $bg-d-gray;
                font-size: $sm;
                @include border(1px,$bg-d-gray,50%);
                padding: 7px;
            }
            
            &__titulo {
                font-size: $md;
                color: $bg-d-gray;
                @include border(2px,$bg-d-gray,$lados: bottom);
                text-align: center;
                width: 80%;
            }
            
            &__parrafo {
                color: $bg-d-gray;
                font-size: $xs;
                text-align: center;
            }
        }
    }
}